.dice-amount{
    font-size: 28px;
    font-weight: bold;
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
ion-grid{
    justify-content: center;
    align-items: center;
}
