<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      V5 Dice Roller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center> How many normal dices do you have?</div>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col text-center>
        <div class="center">
          <ion-fab-button color="dark" (click)="decrescentNormalDiceCount()">
            <ion-icon name="remove"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="dice-amount">
          {{ normalDiceCount }}
        </div>
      </ion-col>
      <ion-col text-center>
        <div class="center">
          <ion-fab-button color="dark" (click)="addNormalDiceCount()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center> How many hunger dices do you have?</div>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col text-center>
        <ion-fab-button color="danger" (click)="decrescentHungerDiceCount()">
          <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <div class="dice-amount">
          {{ hungerDiceCount }}
        </div>
      </ion-col>
      <ion-col text-center>
        <ion-fab-button color="danger" (click)="addHungerDiceCount()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>Replace normal die with hunger die on roll?</ion-label>
      <ion-toggle [(ngModel)]="switchOverlapDice" color="danger" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentModal()">
      <ion-icon name="cube"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>