<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Roll Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center [ngClass]="{'success': rollSuccess, 'fail': !rollSuccess }">
    {{ rollSuccess ? "Success!" : "Fail!"}}
  </h1>
  <h2 class="fail" text-center>{{ messyCritical ? "Messy Critical!" : ( bestialFail ? "Beastial Fail!": "") }}</h2>
  <div text-center> Normal dice Results</div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let value of normalDicesResults">
        <span class="normal-die" [ngClass]="rollClass(value)">{{value}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center> Hunger dice Results</div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let value of hungerDicesResults">
        <span class="hunger-die" [ngClass]="rollClass(value)">{{value}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>